/core_defs.csp
/file_ur5e_gripper.csp
/file_ur5e_gripper_defs.csp
/function_toolkit_defs.csp
/relation_toolkit_defs.csp
/robochart_defs.csp
/sequence_toolkit_defs.csp
/set_toolkit_defs.csp
/state_defs.csp
