### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Mac OS ###
.DS_Store

## Specific to the project
code/
dmodelFMU/archive
dmodelFMU/d-model_v6/resources/
*.log
