### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Mac OS ###
.DS_Store

## Specific to the project
*.log
UR3e_archive
UR5e_archive
tests_archive
videos_archive
comparison_implementations_robotics

